@import "tailwindcss";

/* * {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #1a1a2e;
}

#root {
	min-height: 100vh;
} */